
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Where are the best properties for you?</title>
    <!-- the below sources CSS styles from that site -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

{% block body %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
       <meta charset="UTF-8">
    </head>
    <body>
    <div align="center">
       <h3>Download data here</h3>
       <form method=post enctype=multipart/form-data>
           <p> <input type=submit value=Download> </p>
       </form>
    </div>
    </body>
    </html>

    {% include "map.html" %}
{% endblock %}

</body>
</html>
